div .root {
    color: black;
    background-color: rgb(148, 147, 147);
    border-radius: 30px;
    padding: 10px;
    margin: 0px 100px;
}

button {
    height: 50px;
    width: 80px;
    margin: 10px;
    border-radius: 30px;
    border-color: rgb(255, 0, 0);
    background-color: bisque;
}

img {
    border-radius: 20px;
}